#header{
    background-color: rgb(179,148,113);
}
#welcome{
    font-size: 20px;
    margin-left: 100px;
    color: rgb(4,48,64);
    font-family: 'Times New Roman', Times, serif;
}
#imager{
    margin-left: 400px;
}