#signup{
    background-color: white;
    margin-top: 20px;
}
#chat{
  background-image: url(./component/Student/image/wall3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;

}
.imgig{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 83vh;
  opacity: 0.8;
}
#clas{
  margin-top: 150px; 
}
#label{
  color: rgb(179,148,113);
  font-weight: bold;
  font-size: 20px;
}
#navbar{
    background-color: rgb(4,48,64);
    
  }
  #section{
    background-color: rgb(4,48,64);
    height: 120vh;
  }
  #sectionA{
    background-color: rgb(4,48,64);
    height: 100vh;
  }
  #paystack{
    background-color: rgb(4,48,64);
    height: 100vh;
  }
  #Payment{
    margin-top: 10px;
  }
  #paymentHeader{
    font-size: 50px;
    color: white;
  }
  #payButton{
    background-color: rgb(4,48,64);
    color: white;
  }
  #reg{
    color: rgb(4,48,64);
    margin-left: 120px;
  }
  #submit{
    background-color: rgb(4,48,64);
  }
  .signin{
    color: rgb(4,48,64);
    font-weight: bold;

  }
  #mem{
    color: rgb(4,48,64);
    margin-top: 20px;
}
#up{
    margin-left: 160px;
    color: rgb(4,48,64);
    background-color: rgb(4,48,64);
    margin-top: 20px;
}
#buttonA{
  background-color: rgb(4,48,64);
  color: white;
} 
.passwordrecovery{
  background-color: rgb(4,48,64);
  height: 100vh;
}

#passrec{
  margin-top: 120px;
}
#reset{
  margin-top: 50px;
}
.underline{
  text-decoration: none;
  color: rgb(4,48,64);
  font-weight: bold;
}
.arr{
  margin-left: 100px;
}
#forgpass{
  margin-left: 120px;
  text-decoration: none;
  color: rgb(4,48,64);
}






@media(max-width: 600px){
  #up{
    margin-left: 0px;
  }
  #forgpass{
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(4,48,64);
  }
  .imgig{
    /* background-image: url(./assets/image/image.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 87vh;
    opacity: 0.9;
 }
  #footer{
    background-color: rgb(4,48,64);
    margin-top: -2px;
    
}
  #signup{
    background-color: white;
    margin-top: 20px;
    width: 90%;
}
#signin{
  color: rgb(4,48,64);
  width: 90%;
  
}
#info{
  background-color: rgb(4,48,64);
  color: white;
  height: 150vh;
}
.info{
  margin-top: 20px;
}
#application{
  margin-top: 200px;
  font-size: 60px;
  color: rgb(4,48,64);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bn{
  margin-top: 10px;
}

#up{
  margin-left: 20px;
}
#reg{
  color: rgb(4,48,64);
  margin-left: -50px;
}
#header{
  background-color: rgb(179,148,113);
  width: 100%;
  /* height: 5vh; */

}
#welcome{
  font-size: 20px;
  margin-left: 10px;
  color: rgb(4,48,64);
  font-family: 'Times New Roman', Times, serif;
}
#imager{
  margin-left: 0px;
  width: 20px;
  display: none;
}
#background{
  background-color: rgb(4,48,64);
  /* width: 100%; */
  
}
#portal{
  margin-left: 0px;
}
#color{
  background-color: rgb(179,148,113);
}
#premium{
  /* width: 80%; */
  font-family: 'Times New Roman', Times, serif;
  margin-left: 100px;
  margin-top: -65px;
  font-size: 10px;
  padding-left: 0px;
}
.card{
  margin-left: 0px;
  width: 100%;
}
#profile, #doc, #course, #pass, #fee, #pay, #resources, #reg, #acco, #board, #time, #semester{
  margin-left: 80px;
  color: rgb(4,48,64);
}
.profile, .doc, .course, .pass, .fee, .pay, .resources, .reg, .acco, .board, .time, .semester{
  margin-left: 100px;   
}
#sectioned{
  background-color: rgb(4,48,64);
  height: 282vh;
}



#study{
  font-size: 40px;
  margin-top: 25px;
  font-weight: bold;
  color: rgb(4,48,64);
}
#butt{
  background-color: rgb(4,48,64);
}

#image{
  margin-top: 25px;
  border-radius: 50px;
}
#learn{
  color: black;
}
#sss{
  position: fixed;
  top: 50%;
}
#image1{
  margin-top: 20px;
  height: 500px;
  width: 100%;
}
#image11{
  background-color: rgb(4,48,64);

}
#alt{
  position: fixed;
  top: 90%;
  display: none;
}
#sci{
  color: rgb(4,48,64);   
}
#stock{
  width: 100%;
  height: 100%;
}
#graduate{
  width: 100%;
  height: 100%;
  margin-left: 0px;
}
.inputbutton{
  position: fixed;
  top: 90%;
  left: 10%;
  width: 90%;

}
#inputbutton{
  width: 85%;
}
.datey{
  margin-left: 120px;
}
.arr{
  margin-left: 70px;
}
}
 