
#study{
    font-size: 70px;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(4,48,64);
}
#butt{
    background-color: rgb(4,48,64);
}

#image{
    margin-top: 25px;
    border-radius: 50px;
}
#learn{
    color: black;
}
#sss{
    position: fixed;
    top: 50%;
}
#image1{
    margin-top: 20px;
    height: 500px;
    width: 100%;
}
#image11{
    background-color: rgb(4,48,64);

}
#alt{
    position: fixed;
    top: 90%;
    z-index: 2;
}
#sci{
    color: rgb(4,48,64);   
}

#stock{
    margin-top: 50px;
}































