.img{
    /* background-image: url(./assets/image/image.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 84vh;
    opacity: 0.9;
 }
 #application{
    margin-top: -500px;
    font-size: 120px;
    color: rgb(4,48,64);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .bn{
    margin-top: 200px;
 }
 